### Ćwiczenie 11
Podany jest poniższy obiekt DataFrame df:


```
   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light
```

Dokonaj kodowania 0-1 obiektu df (dokładnie kolumny weight_cut) dzięki funkcji pd.get_dummies(). W odpowiedzi wynik kodowania wydrukuj do konsoli.



Oczekiwany wynik:


```
   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0
```

In [10]:
import pandas as pd


df = pd.DataFrame(
    data={'weight': [75.0, 78.5, 85.0, 91.0, 84.5, 83.0, 68.0]}
)
df['weight_cut'] = pd.cut(
    df['weight'],
    bins=(60, 75, 80, 95),
    labels=['light', 'normal', 'heavy'],
)

In [2]:
df

   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light

In [12]:
encoded_df = pd.get_dummies(df, columns=['weight_cut'], prefix='weight_cut', dtype=int)
encoded_df

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0

## Ćwiczenie 12
Podany jest poniższy obiekt DataFrame df:


```
               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []
```

Do obiektu df przypisz nową kolumnę o nazwie 'number', która przyjmie liczbę elementów listy w kolumnie currency. W odpowiedzi wydrukuj obiekt DataFrame do konsoli.



Oczekiwany wynik:


```
               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0
```

In [6]:
import pandas as pd


data_dict = {
    'currency': [
        ['PLN', 'USD'],
        ['EUR', 'USD', 'PLN', 'CAD'],
        ['GBP'],
        ['JPY', 'CZK', 'HUF'],
        [],
    ]
}
df = pd.DataFrame(data=data_dict)

In [7]:
df['number'] = df['currency'].apply(len)
df

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

### Ćwiczenie 13
Podany jest poniższy obiekt DataFrame df:


```
               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []
```

Przypisz do obiektu df nową kolumnę o nazwie `PLN_flag`, która przyjmie wartość 1, gdy waluta `PLN` będzie w liście w kolumnie currency i przeciwnie 0. W odpowiedzi wydrukuj obiekt DataFrame do konsoli.



Oczekiwany wynik:


```
               currency  PLN_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0
```

In [8]:
import pandas as pd


data_dict = {
    'currency': [
        ['PLN', 'USD'],
        ['EUR', 'USD', 'PLN', 'CAD'],
        ['GBP'],
        ['JPY', 'CZK', 'HUF'],
        [],
    ]
}
df = pd.DataFrame(data=data_dict)

In [9]:
df['PLN_flag'] = df['currency'].apply(lambda x: 1 if 'PLN' in x else 0)
df

               currency  PLN_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0

### Ćwiczenie 14
Podany jest poniższy obiekt DataFrame df:


```
              hashtags
0          #good#vibes
1  #hot#summer#holiday
2         #street#food
3             #workout
```

Podziel wartości kolumny hashtags względem znaku hash `#` używając `pd.Series.str.split()` z argumentem `expand=True`. Otrzymasz cztery kolumny.

Przykładowo dla wiersza drugiego:


```
'#hot#summer#holiday'
```

odpowiednio:


```
['', 'hot', 'summer', 'holiday']
```

Usuń pierwszą kolumnę z tak otrzymanego obiektu (pierwsza kolumna zawiera puste stringi). Następnie przypisz nazwy pozostałych kolumn odpowiednio:

`hashtag1`

`hashtag2`

`hashtag3`

Postać końcową obiektu df wydrukuj do konsoli.



Oczekiwany wynik:


```
  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None
```

In [13]:
import pandas as pd


df = pd.DataFrame(
    data={
        'hashtags': [
            '#good#vibes',
            '#hot#summer#holiday',
            '#street#food',
            '#workout',
        ]
    }
)

In [15]:
df

              hashtags
0          #good#vibes
1  #hot#summer#holiday
2         #street#food
3             #workout

In [26]:
split_columns = df['hashtags'].str.split('#', expand=True)
split_columns

  0        1       2        3
0       good   vibes     None
1        hot  summer  holiday
2     street    food     None
3    workout    None     None

In [28]:
del split_columns[0]

In [29]:
split_columns

         1       2        3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [22]:
split_columns = df['hashtags'].str.split('#', expand=True)
split_columns = split_columns.iloc[:, 1:]
split_columns

         1       2        3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [20]:
split_columns = df['hashtags'].str.split('#', expand=True)
split_columns = split_columns.iloc[:, 1:]
split_columns.columns = ['hashtag1', 'hashtag2', 'hashtag3']
split_columns

  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None

### Ćwiczenie 15
Podany jest poniższy obiekt df:


```
  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None
```

Utwórz nową kolumnę o nazwie `missing` w obiekcie df i przypisz do niej liczbę brakujących hashtagów dla każdego wiersza.

Przykładowo, wiersz pierwszy -> 1, wiersz drugi -> 0, wiersz trzeci -> 1, itd.



W odpowiedzi wydrukuj obiekt df do konsoli.



Oczekiwany wynik:


```
  hashtag1 hashtag2 hashtag3  missing
0     good    vibes     None        1
1      hot   summer  holiday        0
2   street     food     None        1
3  workout     None     None        2
```

In [36]:
import pandas as pd


df = pd.DataFrame(
    data={
        'hashtags': [
            '#good#vibes',
            '#hot#summer#holiday',
            '#street#food',
            '#workout',
        ]
    }
)

In [37]:
df = df["hashtags"].str.split("#", expand=True)
df = df.iloc[:, 1:]

In [38]:
df

         1       2        3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [39]:
df["missing"] = df.isna().sum(axis=1) # axis 1 - wiersze
print(df)

         1       2        3  missing
0     good   vibes     None        1
1      hot  summer  holiday        0
2   street    food     None        1
3  workout    None     None        2

### Ćwiczenie 16
Podany jest poniższy obiekt df:


```
   investments
0  100_000_000
1      100_000
2   30_000_000
3  100_500_000
```

Przygotuj kolumnę investments do modelu, tzn. przekształć ją odpowiednio na typ int.

W odpowiedzi wydrukuj obiekt DataFrame do konsoli.



Oczekiwany wynik:


```
   investments
0    100000000
1       100000
2     30000000
3    100500000
```

In [40]:
import pandas as pd


df = pd.DataFrame(
    data={
        'investments': [
            '100_000_000',
            '100_000',
            '30_000_000',
            '100_500_000',
        ]
    }
)

In [41]:
df

   investments
0  100_000_000
1      100_000
2   30_000_000
3  100_500_000

In [42]:
df["investments"].replace("_", "").astype("int")

0    100000000
1       100000
2     30000000
3    100500000
Name: investments, dtype: int32

## Ćwiczenie 17
Załaduj zbiór danych IRIS do zmiennej data wykorzystując pakiet scikit-learn oraz funkcję `load_iris()`. Następnie wyświetl wszystkie klucze zmiennej data do konsoli.



__Wskazówka__: Więcej na temat funkcji load_iris(): https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html



Oczekiwany wynik:


```
dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])
```

In [44]:
from sklearn.datasets import load_iris

In [46]:
data = load_iris()
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

### Ćwiczenie 18
Załadowano zbiór IRIS wykorzystując pakiet scikit-learn do zmiennej data.

Wyświetl nazwy zmiennych (klucz `feature_names`) oraz nazwy klas (klucz `target_names`) w zbiorze IRIS tak jak pokazano poniżej.



Oczekiwany wynik:


```
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']
```

In [47]:
from sklearn.datasets import load_iris

data = load_iris()

In [49]:
data['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [50]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

### Ćwiczenie 19
Poniżej załadowano zbiór IRIS wykorzystując pakiet scikit-learn do zmiennej data_raw.

Do zmiennej data przypisz dane zbioru IRIS (klucz `data`). Do zmiennej target przypisz wartości zmiennej docelowej (klucz `target`) ze zbioru IRIS.



W odpowiedzi wydrukuj kształt zmiennych: data oraz target do konsoli.



Oczekiwany wynik:


```
(150, 4)
(150,)
```

In [51]:
from sklearn.datasets import load_iris

data_raw = load_iris()

In [52]:
data = data_raw['data']
target = data_raw['target']

In [53]:
data.shape

(150, 4)

In [54]:
target.shape

(150,)

In [55]:
target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

### Ćwiczenie 20
Podane są poniższe tablice:

- data

- target

Wykorzystując pakiet scikit-learn oraz funkcję train_test_split() podziel dane na zbiór treningowy (data_train, target_train) i testowy (data_test, target_test). Ustal rozmiar zbioru testowego na 30% próbek.



W odpowiedzi wyświetl rozmiar poniższych tablic (tak jak pokazano poniżej):

- data_train

- target_train

- data_test

- target_test



__Wskazówka__: Więcej o funkcji train_test_split(): https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html



Oczekiwany wynik:


```
data_train shape: (105, 4)
target_train shape: (105,)
data_test shape: (45, 4)
target_test shape: (45,)
```

In [56]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']

In [73]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.3, random_state=42)